/* Default light mode styles */
.chart-container {
    width: 100%;
    height: 60%;
  }
  
  .chart-container.dark {
    background-color: #1a202c; /* Dark mode background color */
    color: #cbd5e0; /* Dark mode text color */
  }
  
  .chart-component {
    height: 100%;
  }
  
  /* Additional styles specific to dark mode */
  .chart-component.dark {
    background-color: #2d3748; /* Dark mode background color for chart */
  }
  
  /* Custom tooltip styles */
  .custom-tooltip {
    background-color: #2d3748; /* Dark mode background color for tooltip */
    color: #cbd5e0; /* Dark mode text color for tooltip */
    border: 1px solid #4a5568; /* Dark mode border color for tooltip */
  }
  
  .custom-tooltip .label {
    color: #48bb78; /* Dark mode label text color for tooltip */
  }
  
  @media (max-width: 768px) {
    /* Responsive styles for smaller screens */
    .chart-container {
      height: 70%; /* Adjust height for smaller screens */
    }
  }
  